
configuration{
    modi: "drun";
    width: 40;
    columns: 1;
    lines: 5;
        font: "monospace 13";
    show-icons: false;
        icon-theme: "Papirus-Dark";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    display-drun: "Run";
    location: 0;
    separator-style: "solid";
    disable-history: true;
    hide-scrollbar: true;
        theme: "~/.config/rofi/simple.rasi";
}
